
.container {
  position: relative;
  width: 120px;
  height: 60px;
  display: flex;
}
.imgLogo {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  transform-origin: center;
}
.logoTxt {
  display: flex;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0%, -50%);

  font-size: 15px;
  line-height: 0.8;
  color: rgb(16, 16, 174);
  font-weight: 800;
}
